*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #1c1c1c;
    backdrop-filter: blur(5px);
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.container {
    max-width: 660px;
    height: 550px;
    overflow-y: auto;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background: #e0e0e0;
    border: 2px solid blueviolet;
}
@media (max-width: 750px) {
    .container {
        margin-top: 0;
        max-width: 350px;
        height: 100vh;
    }
}
*::-webkit-scrollbar {
    width: 7px;
}
*::-webkit-scrollbar-thumb {
    background-color: #8338ec;
    border-radius: 100vw;
}
.post-container {
    margin-top: 50px;
}
textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #9182c4;
    outline: none;
}
button {
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    background-color: #9182c4;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
}
button:hover {
    background-color: #866fd3;
}

.avatar {
    width: 50px;
}
.user-container {
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.user-post {
    margin-top: 20px;
    padding: 20px;
    color: whitesmoke;

    border-radius: 10px;
    background: #866fd3;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fname {
    font-weight: bold;
}

.delete-icon {
    margin-left: auto;
    font-size: 23px;
    color: lightcoral;
}
.delete-icon:hover {
    color: red;
}
